@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px; /* 滚动条宽 */
}

::-webkit-scrollbar-thumb {
  background-color: #eeeeee; /* 滚动条拖动块颜色 */
}
